# ###############################################################################################
# 1. UNCOMPRESSED File name (IF is a tar.gz, this filed must be the file name inside the tar.gz) this MUST BE UNIQUE
# 2. Destination path, use $PIN_HOME
# 3. Destination file name
# File must have different name
# This file contains the names of the file and the destination path
################################################################################################
acs_m2m_resources.h;$PIN_HOME/include;-
acs_daily_bulk.h;$PIN_HOME/include;-
acs_merchant_number.h;$PIN_HOME/include;-
acs_midnight_resource.h;$PIN_HOME/include;-
acs_paymentmethod_label.h;$PIN_HOME/include;-
acs_postpaid_payment.h;$PIN_HOME/include;-
acs_refill_payment.h;$PIN_HOME/include;-
acs_sotto_soglia.h;$PIN_HOME/include;-
acs_test_rate.h;$PIN_HOME/include;-
acs_vdf_sms_mms_ops.h;$PIN_HOME/include;-
acs_vendita_refill.h;$PIN_HOME/include;-
acs_voice_rate.hv;$PIN_HOME/include;-
adjustment_info.h;$PIN_HOME/include;-
adjustment_info_bkp.h;$PIN_HOME/include;-
adjustment_taxinfo.h;$PIN_HOME/include;-
comportamento_resource.h;$PIN_HOME/include;-
consumer_autorefill.h;$PIN_HOME/include;-
counters_for_prv_period.h;$PIN_HOME/include;-
custom_token_auth_reauth.h;$PIN_HOME/include;-
credit_info.h;$PIN_HOME/include;-
credit_management_event_list.h;$PIN_HOME/include;-
cutoff.h;$PIN_HOME/include;-
cutoff_resources.h;$PIN_HOME/include;-
dailybulk_helper_resource.h;$PIN_HOME/include;-
dgp_resources.h;$PIN_HOME/include;-
final.h;$PIN_HOME/include;-
fm_bal.h;$PIN_HOME/include;-
fm_bill_utils.h;$PIN_HOME/include;-
fm_new_pol.h;$PIN_HOME/include;-
fm_poste_pol.h;$PIN_HOME/include;-
fm_price_pol.h;$PIN_HOME/include;-
fm_test_pol.h;$PIN_HOME/include;-
fm_utils.h;$PIN_HOME/include;-
fm_zonemap_pol.h;$PIN_HOME/include;-
full_mvno_events_list.h;$PIN_HOME/include;-
impact_categories_list.h;$PIN_HOME/include;-
item_order.h;$PIN_HOME/include;-
IT_cf.h;$PIN_HOME/include;-
nash.h;$PIN_HOME/include;-
no_credit_blacklist.h;$PIN_HOME/include;-
poste.h;$PIN_HOME/include;-
poste_custom_event_info.h;$PIN_HOME/include;-
poste_offer_info.h;$PIN_HOME/include;-
poste_op_cancel_authorization.h;$PIN_HOME/include;-
poste_web_ip_home.h;$PIN_HOME/include;-
poste_web_ip_roam.h;$PIN_HOME/include;-
postpaid_bill_list.h;$PIN_HOME/include;-
postpaid_credit_monitor.h;$PIN_HOME/include;-
postpaid_prod_list.h;$PIN_HOME/include;-
ratetag_info.h;$PIN_HOME/include;-
remittance_prod_list.h;$PIN_HOME/include;-
resource_info.h;$PIN_HOME/include;-
RN_CA_Info.h;$PIN_HOME/include;-
sms_credit_limit.h;$PIN_HOME/include;-
stop_accounting.h;$PIN_HOME/include;-
test_res_id.h;$PIN_HOME/include;-
token_values.h;$PIN_HOME/include;-