########################################################
# 1. HOST NAME
# 2. USER NAME
# 3. HOST TYPE (PIN,AAA,PIPELINE)
# 4. ENVIRONMENT TYPE (DEV, PROD)
########################################################

#DEV
ZPMDVBIL;pin;PIN;DEV
ZPMDVBIL;pin,ifw;AAA,PIPELINE;DEV

#ST
IODIO;pin;PIN;DEV
IODIO;pin,ifw;AAA,PIPELINE;DEV

#IT
ZPMSTBIL;pin;PIN;DEV
ZPMSTBIL;pin;AAA,PIPELINE;DEV

#Bug Fixing
ZPMATBIL;pin;PIN;DEV
ZPMATBIL;pin,ifw;AAA,PIPELINE;DEV

#Bug Fixing - IT
ZPMCBBIL;pin;PIN;DEV
ZPMCBBIL;pin,ifw;AAA,PIPELINE;DEV

#DEV 7.3.1
ZOB;pin;PIN;DEV
ZOB;pin,ifw;AAA,PIPELINE;DEV

#QUATERNARIO
zpqbias1;pin;PIN;PROD
zpqbias2;pin;PIN;PROD

#PRE-PRODUCTION
ppbssas3;pin;PIN;PROD
ppbssas3;pin;PIPELINE;PROD
ppbssas3;pin;AAA;PROD

#PRODUCTION
zprbias1;pin;PIN;PROD
zprbias1;pin;PIPELINE;PROD
zprbias1;pin;AAA;PROD
zprbigw1;ifw;PIPELINE;PROD
zprbigw2;ifw;PIPELINE;PROD
prbilas3;ifwpipe;PIPELINE;PROD
prbilas4;ifwpipe;PIPELINE;PROD
zprexabias2;ifwpipe;PIPELINE;PROD
zprexabias3;ifwpipe;PIPELINE;PROD
zprexabias4;ifwpipe;PIPELINE;PROD
zprexabias3;ifw;AAA;PROD
zprexabias4;ifw;AAA;PROD

