########################################################################################################################################################################
# fase 0 :  installation_tool_files e ribaltamento produzione su schema di installazione
# fase 1 :  installazione solo ci‹ che va sullo schema di installazione (storable_classes, configuration_files retail, rateplan_files_retail, zone_maps, header_files, opcode_files, make_files)
# fase 2 :  stop macchine A - MANUALE
# fase 3 :  completamento installazione (configuration_files wholesale, ifw_files, other_files, retail_sql, wholesale_sql, configuration_files_wholesale, rateplan_files_wholesale, librerie (.so)) su macchine A
# fase 4 :  start catene deploy su schema di installazione (macchina A running con nuova release completa su schema di installazione) - MANUALE
# fase 5 :  stop macchine B - MANUALE
# fase 6 :  ribaltamento schema di configurazione su schema PIN
# fase 7 :  installazione librerie (.so), ifw_files e installazioni manuali su macchine B
# fase 8 :  start macchine B (puntamenti su schema PIN, macchine B running con nuova release completa su schema PIN) - MANUALE
# fase 9 :  stop catene deploy su macchine A - MANUALE
# fase 10:  start catene normali su macchine A (macchina A running con nuova release completa su schema PIN)
########################################################################################################################################################################

GROUP_A=zprbias1
GROUP_A=zprbias2
GROUP_A=zprbigw1
GROUP_A=zprbigw2
GROUP_A=zprexabias1
GROUP_A=zprexabias2
GROUP_A=zprexabilwr1
GROUP_A=zprexabilwr2
GROUP_A=zprexabigw1
GROUP_A=prexabigw2
GROUP_A=zprexaprov1
GROUP_A=zprexaprov2

GROUP_B=zprexabias3
GROUP_B=zprexabias4

INSTALLATION_SCHEMA=PIN
INSTALLATION_PASS=PIN
INSTALLATION_SID=BILLDEV

PIN_SCHEMA=PIN
PIN_PASS=PIN
PIN_SID=BILLDEV
