# ###############################################################################################
# 1. TYPE: PIPELINE OR AAA
# 2. HOST
# 3. USER NAME
# 4. $IFW_HOME VALUE
################################################################################################
AAA;zprexabias4;ifw;/FS/pin/opt/ifw
AAA;zprexabias3;ifw;/FS/pin/opt/ifw
PIPELINE;zprexabias4;ifwpipe;/FS/pin/opt/ifwpipe
PIPELINE;zprexabias3;ifwpipe;/FS/pin/opt/ifwpipe
PIPELINE;zprexabias2;ifwpipe;/FS/pin/opt/ifwpipe
PIPELINE;prbilas3;ifwpipe;/FS/pin/opt/ifwpipe
PIPELINE;prbilas4;ifwpipe;/FS/pin/opt/ifwpipe
PIPELINE;zprexabigw1;ifwpipe;/FS/pin/opt/ifwpipe
PIPELINE;zprexabigw2;ifwpipe;/FS/pin/opt/ifwpipe
PIPELINE;zprbigw1;ifw;/FS/pin/opt/ifw
PIPELINE;zprbigw2;ifw;/FS/pin/opt/ifw 
PIPELINE_MHO;zprbigw1;ifw;/FS/pin/opt/ifw
PIPELINE_ROAMING;zprbigw1;ifw;/FS/pin/opt/ifw              
