# ###############################################################################################
# 1. UNCOMPRESSED File name (IF is a tar.gz, this filed must be the file name inside the tar.gz) this MUST BE UNIQUE
# 2. Destination path, use $PIN_HOME
# 3. Destination file name
# 4. Installation system type (PIPELINE_RETAIL, PIPELINE_MHO or AAA)
# File must have different name
# This file contains the names of the file and the destination path
################################################################################################
ISC_POSTE_AddFieldEvent.isc;$IFW_HOME/custom_ifw/iScriptLib;ISC_POSTE_AddFieldEvent.isc;PIPELINE_MHO
IRL_IPAddressToInOutHome.data;$IFW_HOME/custom_ifw/iScriptLib;IRL_IPAddressToInOutHome.data;PIPELINE_MHO
IRL_EventTypeSplitting.data;$IFW_HOME/custom_ifw/iScriptLib;IRL_EventTypeSplitting.data;PIPELINE_MHO
DataEdrBuilder.jar;$IFW_HOME/custom_ifw/bin;DataEdrBuilder.jar;PIPELINE_MHO
IRL_ServiceNetworkToIntPrefix_MHO.data;$IFW_HOME/custom_ifw/iScriptLib;IRL_ServiceNetworkToIntPrefix.data;PIPELINE_MHO
IRL_RoutingNumberToBNum.data;$IFW_HOME/custom_ifw/iScriptLib;IRL_RoutingNumberToBNum.data;PIPELINE_MHO
IRL_ServiceNetworkToIntPrefix_ROAMING.data;$IFW_HOME/ifw_openroam/iScriptLib;IRL_ServiceNetworkToIntPrefix.data;PIPELINE_ROAMING
IRL_ReqMode.data;$IFW_HOME/iScriptLib/AAA;IRL_ReqMode.data;AAA
IRL_SEMPLIFICA_CREDIT_CHECK_UPDATE.data;$IFW_HOME/iScriptLib/iScriptLib_Standard;IRL_SEMPLIFICA_CREDIT_CHECK_UPDATE.data;PIPELINE
IRL_PROMO_RATEPLAN_UPDATE.data;$IFW_HOME/iScriptLib/iScriptLib_Standard;IRL_PROMO_RATEPLAN_UPDATE.data;PIPELINE
ISC_FU_EURO_Inversion.isc;$IFW_HOME/iScriptLib/iScriptLib_Standard;ISC_FU_EURO_Inversion.isc;PIPELINE
ISC_FU_EURO_Inversion.data;$IFW_HOME/iScriptLib/iScriptLib_Standard;ISC_FU_EURO_Inversion.data;PIPELINE
IRL_WAP_PERSONAL.irl;$IFW_HOME/iScriptLib/iScriptLib_Standard;IRL_WAP_PERSONAL.irl;PIPELINE
IRL_WAP_PERSONAL.data;$IFW_HOME/iScriptLib/iScriptLib_Standard;IRL_WAP_PERSONAL.data;PIPELINE
Diameter_v01_OutGrammar.dsc;$IFW_HOME/formatDesc/Formats/Diameter;Diameter_v01_OutGrammar.dsc;AAA
Diameter_v01_InGrammar.dsc;$IFW_HOME/formatDesc/Formats/Diameter;Diameter_v01_InGrammar.dsc;AAA
Diameter_v01_InMap.dsc;$IFW_HOME/formatDesc/Formats/Diameter;Diameter_v01_InMap.dsc;AAA
aaaContainerDesc.dsc;$IFW_HOME/formatDesc/Portal;aaaContainerDesc.dsc;AAA
IRL_RoutingNumbers.data;$IFW_HOME/iScriptLib/AAA;IRL_RoutingNumbers.data;AAA
IRL_RoutingNumbers.irl;$IFW_HOME/iScriptLib/AAA;IRL_RoutingNumbers.irl;AAA
SOL42_V670_REL_InGrammar.dsc;$IFW_HOME/ifw_openroam/formatDesc/Formats/Solution42;SOL42_V670_REL_InGrammar.dsc;PIPELINE_ROAMING
V670_EVENT_LOADER.dsc;$IFW_HOME/ifw_openroam/formatDesc/Formats/Solution42;V670_EVENT_LOADER.dsc;PIPELINE_ROAMING
V670_EVENT_LOADER_OutMap.dsc;$IFW_HOME/ifw_openroam/formatDesc/Formats/Solution42;V670_EVENT_LOADER_OutMap.dsc;PIPELINE_ROAMING
V670_EVENT_LOADER_OutGrammar.dsc;$IFW_HOME/ifw_openroam/formatDesc/Formats/Solution42;V670_EVENT_LOADER_OutGrammar.dsc;PIPELINE_ROAMING
ISC_RoutingNumbers.isc;$IFW_HOME/iScriptLib/AAA;ISC_RoutingNumbers.isc;AAA
Diameter_v01.dsc;$IFW_HOME/formatDesc/Formats/Diameter;Diameter_v01.dsc;AAA
Diameter_v01_OutMap.dsc;$IFW_HOME/formatDesc/Formats/Diameter;Diameter_v01_OutMap.dsc;AAA
IRL_Router.data;$IFW_HOME/iScriptLib/AAA;IRL_Router.data;AAA
IRL_Router.irl;$IFW_HOME/iScriptLib/AAA;IRL_Router.irl;AAA
IRL_TimeoutRouter.data;$IFW_HOME/iScriptLib/AAA;IRL_TimeoutRouter.data;AAA
DAT_AccountBatch.msg;$IFW_HOME/etc;DAT_AccountBatch.msg;PIPELINE_MHO
ISC_POSTE_Guiding.isc;$IFW_HOME/custom_ifw/iScriptLib;ISC_POSTE_Guiding.isc;PIPELINE_MHO
OrEdrBuilder.jar;$IFW_HOME/ifw_openroam/bin;OrEdrBuilder.jar;PIPELINE_ROAMING
ISC_POSTE_Guiding_OR.isc;$IFW_HOME/ifw_openroam/iScriptLib;ISC_POSTE_Guiding.isc;PIPELINE_ROAMING
ISC_POSTE_ErrorEdrCheck_OR.isc;$IFW_HOME/ifw_openroam/iScriptLib;ISC_POSTE_ErrorEdrCheck.isc;PIPELINE_ROAMING
TAP3_v10_InGrammar.dsc;$IFW_HOME/ifw_openroam/formatDesc/Formats/TAP3;TAP3_v10_InGrammar.dsc;PIPELINE_ROAMING
V670_EVENT_LOADER_OutGrammar.dsc;$IFW_HOME/ifw_openroam/formatDesc/Formats/Solution42;V670_EVENT_LOADER_OutGrammar.dsc;PIPELINE_ROAMING
MultithreadEDRReprocess.jar;$IFW_HOME/custom_ifw/bin;MultithreadEDRReprocess.jar;PIPELINE_MHO
IRL_FU_RATE.data;$IFW_HOME/iScriptLib/iScriptLib_Standard;IRL_FU_RATE.data;PIPELINE