# ###############################################################################################
# 1. UNCOMPRESSED File name (IF is a tar.gz, this filed must be the file name inside the tar.gz) this MUST BE UNIQUE
# 2. Destination path, use $PIN_HOME
# 3. Destination file name (use "-" to mantain the same file name)
# File must have different name
# This file contains the names of the file and the destination path
################################################################################################
fm_acs_voice_rate.so;$PIN_HOME/lib;-;LIB
fm_act_pol.so;$PIN_HOME/lib;-;LIB
fm_inv_pol.so;$PIN_HOME/lib;-;LIB
fm_poste_pol.so;$PIN_HOME/lib;-;LIB
fm_rate_pol.so;$PIN_HOME/lib;-;LIB
