# ###############################################################################################
# 1. TYPE: PIPELINE OR AAA
# 2. HOST
# 3. USER NAME
# 4. $IFW_HOME VALUE
################################################################################################
LIB;zprexabias1;pin;/FS/pin/opt/pin
LIB;zprexabias2;pin;/FS/pin/opt/pin
LIB;zprexabias3;pin;/FS/pin/opt/pin
LIB;zprexabias4;pin;/FS/pin/opt/pin
LIB;prbilas3;pin;/FS/pin/opt/pin
LIB;prbilas4;pin;/FS/pin/opt/pin
LIB;zprbigw1;pin;/FS/pin/opt/pin
LIB;zprbigw2;pin;/FS/pin/opt/pin