####################################################################################
# make_command - Configure the make command in the environments
# 1. HOST NAME
# 2. fixed label make_command
# 3. make command
####################################################################################

#DEV
ZPMDVBIL;make_command;make

#ST
IODIO;make_command;make

#IT
ZPMSTBIL;make_command;make

#IT2
ZPMIT2BI;make_command;make

#Bug Fixing
ZPMATBIL;make_command;make

#Bug Fixing - IT
ZPMCBBIL;make_command;make

#QUATERNARIO
zpqbias1;make_command;dmake

#PRE-PRODUCTION
ppbssas3;make_command;dmake

#PRODUCTION
zprexaprov1;make_command;dmake
####################################################################################

####################################################################################
# header_files - Configure what library compile when an header_files is installed
# 1. header file name
# 2. library name
####################################################################################
header_files;RN_CA_Info.h;fm_acs_voice_rate
header_files;acs_m2m_resources.h;fm_act_pol
header_files;acs_daily_bulk.h;fm_act_pol
header_files;acs_daily_bulk.h;fm_rate_pol
header_files;acs_merchant_number.h;fm_inv_pol
header_files;acs_midnight_resource.h;fm_rate_pol
header_files;acs_paymentmethod_label.h;fm_inv_pol
header_files;acs_postpaid_payment.h;fm_inv_pol
header_files;acs_refill_payment.h;fm_inv_pol
header_files;acs_sotto_soglia.h;fm_act_pol
header_files;acs_vendita_refill.h;fm_inv_pol
header_files;adjustment_info.h;fm_inv_pol
header_files;adjustment_info.h;fm_rate_pol
header_files;cm_cache.h;fm_bill_pol
header_files;cm_cache.h;fm_cust_pol
header_files;cm_cache.h;fm_inv_pol
header_files;cm_cache.h;fm_poste_pol
header_files;cm_cache.h;fm_rate_pol
header_files;cm_fm.h;fm_acs_voice_rate
header_files;cm_fm.h;fm_act_pol
header_files;cm_fm.h;fm_ar_pol
header_files;cm_fm.h;fm_bal_pol
header_files;cm_fm.h;fm_bill_pol
header_files;cm_fm.h;fm_content_pol
header_files;cm_fm.h;fm_cust_pol
header_files;cm_fm.h;fm_device_pol
header_files;cm_fm.h;fm_gsm_aaa_pol
header_files;cm_fm.h;fm_ifw_sync_pol
header_files;cm_fm.h;fm_inv_pol
header_files;cm_fm.h;fm_nash_pol
header_files;cm_fm.h;fm_order_pol
header_files;cm_fm.h;fm_poste_cancel_authorization
header_files;cm_fm.h;fm_poste_pol
header_files;cm_fm.h;fm_price_pol
header_files;cm_fm.h;fm_prov_pol
header_files;cm_fm.h;fm_pymt_pol
header_files;cm_fm.h;fm_rate_pol
header_files;cm_fm.h;fm_remit_pol
header_files;cm_fm.h;fm_reserve_pol
header_files;cm_fm.h;fm_subscription_pol
header_files;cm_fm.h;fm_tcf_pol
header_files;cm_fm.h;fm_test_pol
header_files;cm_fm.h;fm_trans_pol
header_files;cm_fm.h;fm_voucher_pol
header_files;cm_fm.h;fm_zonemap_pol
header_files;comportamento_resource.h;fm_rate_pol
header_files;consumer_autorefill.h;fm_act_pol
header_files;counters_for_prv_period.h;fm_acs_voice_rate
header_files;credit_info.h;fm_act_pol
header_files;custom_flds.h;fm_acs_voice_rate
header_files;custom_flds.h;fm_act_pol
header_files;custom_flds.h;fm_bill_pol
header_files;custom_flds.h;fm_inv_pol
header_files;custom_flds.h;fm_poste_cancel_authorization
header_files;custom_flds.h;fm_poste_pol
header_files;custom_flds.h;fm_rate_pol
header_files;custom_flds.h;fm_remit_pol
header_files;custom_flds.h;fm_test_pol
header_files;cutoff.h;fm_rate_pol
header_files;custom_token_auth_reauth.h;fm_poste_pol
header_files;dailybulk_helper_resource.h;fm_rate_pol
header_files;dgp_resources.h;fm_rate_pol
header_files;fm_bal.h;fm_acs_voice_rate
header_files;fm_bal.h;fm_act_pol
header_files;fm_bal.h;fm_bill_pol
header_files;fm_bal.h;fm_rate_pol
header_files;fm_bill_utils.h;fm_acs_voice_rate
header_files;fm_bill_utils.h;fm_act_pol
header_files;fm_bill_utils.h;fm_bill_pol
header_files;fm_bill_utils.h;fm_cust_pol
header_files;fm_bill_utils.h;fm_inv_pol
header_files;fm_bill_utils.h;fm_pymt_pol
header_files;fm_bill_utils.h;fm_rate_pol
header_files;fm_bill_utils.h;fm_reserve_pol
header_files;fm_bill_utils.h;fm_subscription_pol
header_files;fm_poste_pol.h;fm_poste_pol
header_files;fm_poste_pol.h;fm_rate_pol
header_files;fm_test_pol.h;fm_test_pol
header_files;fm_utils.h;fm_act_pol
header_files;fm_utils.h;fm_bill_pol
header_files;fm_utils.h;fm_content_pol
header_files;fm_utils.h;fm_cust_pol
header_files;fm_utils.h;fm_device_pol
header_files;fm_utils.h;fm_ifw_sync_pol
header_files;fm_utils.h;fm_inv_pol
header_files;fm_utils.h;fm_nash_pol
header_files;fm_utils.h;fm_order_pol
header_files;fm_utils.h;fm_poste_pol
header_files;fm_utils.h;fm_pymt_pol
header_files;fm_utils.h;fm_rate_pol
header_files;fm_utils.h;fm_reserve_pol
header_files;fm_utils.h;fm_subscription_pol
header_files;fm_utils.h;fm_tcf_pol
header_files;fm_utils.h;fm_trans_pol
header_files;fm_utils.h;fm_voucher_pol
header_files;fm_utils.h;fm_zonemap_pol
header_files;fm_zonemap_pol.h;fm_zonemap_pol
header_files;full_mvno_events_list.h;fm_poste_pol
header_files;full_mvno_events_list.h;fm_rate_pol
header_files;hsregex.h;fm_cust_pol
header_files;nash.h;fm_nash_pol
header_files;no_credit_blacklist.h;fm_rate_pol
header_files;pbo_decimal.h;fm_act_pol
header_files;pbo_decimal.h;fm_cust_pol
header_files;pbo_decimal.h;fm_pymt_pol
header_files;pcm.h;fm_acs_voice_rate
header_files;pcm.h;fm_act_pol
header_files;pcm.h;fm_ar_pol
header_files;pcm.h;fm_bal_pol
header_files;pcm.h;fm_bill_pol
header_files;pcm.h;fm_content_pol
header_files;pcm.h;fm_cust_pol
header_files;pcm.h;fm_device_pol
header_files;pcm.h;fm_gsm_aaa_pol
header_files;pcm.h;fm_ifw_sync_pol
header_files;pcm.h;fm_inv_pol
header_files;pcm.h;fm_nash_pol
header_files;pcm.h;fm_order_pol
header_files;pcm.h;fm_poste_cancel_authorization
header_files;pcm.h;fm_poste_pol
header_files;pcm.h;fm_price_pol
header_files;pcm.h;fm_prov_pol
header_files;pcm.h;fm_pymt_pol
header_files;pcm.h;fm_rate_pol
header_files;pcm.h;fm_remit_pol
header_files;pcm.h;fm_reserve_pol
header_files;pcm.h;fm_subscription_pol
header_files;pcm.h;fm_tcf_pol
header_files;pcm.h;fm_test_pol
header_files;pcm.h;fm_trans_pol
header_files;pcm.h;fm_voucher_pol
header_files;pcm.h;fm_zonemap_pol
header_files;pin_act.h;fm_act_pol
header_files;pin_act.h;fm_content_pol
header_files;pin_act.h;fm_gsm_aaa_pol
header_files;pin_act.h;fm_rate_pol
header_files;pin_act.h;fm_subscription_pol
header_files;pin_apn.h;fm_device_pol
header_files;pin_ar.h;fm_ar_pol
header_files;pin_ar.h;fm_bill_pol
header_files;pin_ar.h;fm_pymt_pol
header_files;pin_asm.h;fm_gsm_aaa_pol
header_files;pin_bal.h;fm_bal_pol
header_files;pin_bal.h;fm_rate_pol
header_files;pin_bdfs.h;fm_cust_pol
header_files;pin_bdfs.h;fm_pymt_pol
header_files;pin_bill.h;fm_act_pol
header_files;pin_bill.h;fm_ar_pol
header_files;pin_bill.h;fm_bill_pol
header_files;pin_bill.h;fm_cust_pol
header_files;pin_bill.h;fm_inv_pol
header_files;pin_bill.h;fm_poste_pol
header_files;pin_bill.h;fm_price_pol
header_files;pin_bill.h;fm_pymt_pol
header_files;pin_bill.h;fm_rate_pol
header_files;pin_bill.h;fm_reserve_pol
header_files;pin_bill.h;fm_subscription_pol
header_files;pin_bill.h;fm_trans_pol
header_files;pin_bill.h;fm_voucher_pol
header_files;pin_cc.h;fm_cust_pol
header_files;pin_cc_patterns.h;fm_cust_pol
header_files;pin_channel.h;fm_act_pol
header_files;pin_channel.h;fm_device_pol
header_files;pin_channel.h;fm_subscription_pol
header_files;pin_channel.h;fm_tcf_pol
header_files;pin_channel.h;fm_trans_pol
header_files;pin_channel.h;fm_voucher_pol
header_files;pin_content.h;fm_content_pol
header_files;pin_currency.h;fm_acs_voice_rate
header_files;pin_currency.h;fm_act_pol
header_files;pin_currency.h;fm_bill_pol
header_files;pin_currency.h;fm_content_pol
header_files;pin_currency.h;fm_cust_pol
header_files;pin_currency.h;fm_inv_pol
header_files;pin_currency.h;fm_poste_pol
header_files;pin_currency.h;fm_pymt_pol
header_files;pin_currency.h;fm_rate_pol
header_files;pin_currency.h;fm_subscription_pol
header_files;pin_currency.h;fm_voucher_pol
header_files;pin_cust.h;fm_acs_voice_rate
header_files;pin_cust.h;fm_act_pol
header_files;pin_cust.h;fm_bill_pol
header_files;pin_cust.h;fm_cust_pol
header_files;pin_cust.h;fm_inv_pol
header_files;pin_cust.h;fm_poste_cancel_authorization
header_files;pin_cust.h;fm_poste_pol
header_files;pin_cust.h;fm_pymt_pol
header_files;pin_cust.h;fm_rate_pol
header_files;pin_cust.h;fm_subscription_pol
header_files;pin_cust.h;fm_test_pol
header_files;pin_cust.h;fm_trans_pol
header_files;pin_decimal.h;fm_content_pol
header_files;pin_device.h;fm_device_pol
header_files;pin_device.h;fm_voucher_pol
header_files;pin_errs.h;fm_acs_voice_rate
header_files;pin_errs.h;fm_act_pol
header_files;pin_errs.h;fm_ar_pol
header_files;pin_errs.h;fm_bal_pol
header_files;pin_errs.h;fm_bill_pol
header_files;pin_errs.h;fm_content_pol
header_files;pin_errs.h;fm_cust_pol
header_files;pin_errs.h;fm_device_pol
header_files;pin_errs.h;fm_gsm_aaa_pol
header_files;pin_errs.h;fm_ifw_sync_pol
header_files;pin_errs.h;fm_inv_pol
header_files;pin_errs.h;fm_nash_pol
header_files;pin_errs.h;fm_order_pol
header_files;pin_errs.h;fm_poste_cancel_authorization
header_files;pin_errs.h;fm_poste_pol
header_files;pin_errs.h;fm_price_pol
header_files;pin_errs.h;fm_pymt_pol
header_files;pin_errs.h;fm_rate_pol
header_files;pin_errs.h;fm_reserve_pol
header_files;pin_errs.h;fm_subscription_pol
header_files;pin_errs.h;fm_tcf_pol
header_files;pin_errs.h;fm_test_pol
header_files;pin_errs.h;fm_trans_pol
header_files;pin_errs.h;fm_voucher_pol
header_files;pin_errs.h;fm_zonemap_pol
header_files;pin_flds.h;fm_acs_voice_rate
header_files;pin_flds.h;fm_bill_pol
header_files;pin_flds.h;fm_inv_pol
header_files;pin_flds.h;fm_poste_cancel_authorization
header_files;pin_flds.h;fm_poste_pol
header_files;pin_flds.h;fm_pymt_pol
header_files;pin_flds.h;fm_remit_pol
header_files;pin_flds.h;fm_subscription_pol
header_files;pin_flds.h;fm_test_pol
header_files;pin_gsm.h;fm_subscription_pol
header_files;pin_gsm_aaa.h;fm_gsm_aaa_pol
header_files;pin_inv.h;fm_inv_pol
header_files;pin_inv.h;fm_rate_pol
header_files;pin_ip.h;fm_device_pol
header_files;pin_mail.h;fm_act_pol
header_files;pin_mail.h;fm_cust_pol
header_files;pin_msexchange.h;fm_cust_pol
header_files;pin_msexchange.h;fm_subscription_pol
header_files;pin_num.h;fm_device_pol
header_files;pin_order.h;fm_order_pol
header_files;pin_os.h;fm_bill_pol
header_files;pin_os.h;fm_cust_pol
header_files;pin_os.h;fm_ifw_sync_pol
header_files;pin_os.h;fm_subscription_pol
header_files;pin_os_dir.h;fm_cust_pol
header_files;pin_os_pthread.h;fm_zonemap_pol
header_files;pin_os_string.h;fm_bill_pol
header_files;pin_os_string.h;fm_cust_pol
header_files;pin_os_string.h;fm_rate_pol
header_files;pin_pop.h;fm_cust_pol
header_files;pin_price.h;fm_price_pol
header_files;pin_prov_wireless.h;fm_prov_pol
header_files;pin_pymt.h;fm_act_pol
header_files;pin_pymt.h;fm_bill_pol
header_files;pin_pymt.h;fm_cust_pol
header_files;pin_pymt.h;fm_pymt_pol
header_files;pin_rate.h;fm_acs_voice_rate
header_files;pin_rate.h;fm_act_pol
header_files;pin_rate.h;fm_bill_pol
header_files;pin_rate.h;fm_cust_pol
header_files;pin_rate.h;fm_gsm_aaa_pol
header_files;pin_rate.h;fm_ifw_sync_pol
header_files;pin_rate.h;fm_inv_pol
header_files;pin_rate.h;fm_poste_pol
header_files;pin_rate.h;fm_pymt_pol
header_files;pin_rate.h;fm_rate_pol
header_files;pin_rate.h;fm_reserve_pol
header_files;pin_rate.h;fm_subscription_pol
header_files;pin_rate.h;fm_voucher_pol
header_files;pin_reserve.h;fm_acs_voice_rate
header_files;pin_reserve.h;fm_gsm_aaa_pol
header_files;pin_reserve.h;fm_inv_pol
header_files;pin_reserve.h;fm_poste_pol
header_files;pin_reserve.h;fm_rate_pol
header_files;pin_reserve.h;fm_reserve_pol
header_files;pin_sim.h;fm_device_pol
header_files;pin_subscription.h;fm_rate_pol
header_files;pin_subscription.h;fm_subscription_pol
header_files;pin_sys.h;fm_cust_pol
header_files;pin_sys.h;fm_ifw_sync_pol
header_files;pin_tcf.h;fm_acs_voice_rate
header_files;pin_tcf.h;fm_poste_pol
header_files;pin_tcf.h;fm_rate_pol
header_files;pin_tcf.h;fm_tcf_pol
header_files;pin_teracomm.h;fm_cust_pol
header_files;pin_teracomm.h;fm_subscription_pol
header_files;pin_term.h;fm_act_pol
header_files;pin_type.h;fm_cust_pol
header_files;pin_type.h;fm_gsm_aaa_pol
header_files;pin_voucher.h;fm_device_pol
header_files;pin_voucher.h;fm_order_pol
header_files;pin_voucher.h;fm_voucher_pol
header_files;pin_wireless.h;fm_content_pol
header_files;pin_zonemap.h;fm_zonemap_pol
header_files;pinlog.h;fm_acs_voice_rate
header_files;pinlog.h;fm_act_pol
header_files;pinlog.h;fm_ar_pol
header_files;pinlog.h;fm_bal_pol
header_files;pinlog.h;fm_bill_pol
header_files;pinlog.h;fm_content_pol
header_files;pinlog.h;fm_cust_pol
header_files;pinlog.h;fm_device_pol
header_files;pinlog.h;fm_gsm_aaa_pol
header_files;pinlog.h;fm_ifw_sync_pol
header_files;pinlog.h;fm_inv_pol
header_files;pinlog.h;fm_nash_pol
header_files;pinlog.h;fm_order_pol
header_files;pinlog.h;fm_poste_cancel_authorization
header_files;pinlog.h;fm_poste_pol
header_files;pinlog.h;fm_price_pol
header_files;pinlog.h;fm_prov_pol
header_files;pinlog.h;fm_pymt_pol
header_files;pinlog.h;fm_rate_pol
header_files;pinlog.h;fm_remit_pol
header_files;pinlog.h;fm_reserve_pol
header_files;pinlog.h;fm_subscription_pol
header_files;pinlog.h;fm_tcf_pol
header_files;pinlog.h;fm_test_pol
header_files;pinlog.h;fm_trans_pol
header_files;pinlog.h;fm_voucher_pol
header_files;pinlog.h;fm_zonemap_pol
header_files;poste.h;fm_act_pol
header_files;poste.h;fm_inv_pol
header_files;poste_custom_event_info.h;fm_act_pol
header_files;poste_offer_info.h;fm_poste_pol
header_files;poste_op_cancel_authorization.h;fm_poste_pol
header_files;poste_op_cancel_authorization.h;fm_rate_pol
header_files;poste_web_ip_home.h;fm_poste_pol
header_files;postpaid_credit_monitor.h;fm_act_pol
header_files;postpaid_prod_list.h;fm_inv_pol
header_files;psiu_business_params.h;fm_act_pol
header_files;psiu_business_params.h;fm_bill_pol
header_files;psiu_business_params.h;fm_cust_pol
header_files;psiu_business_params.h;fm_pymt_pol
header_files;psiu_currency.h;fm_cust_pol
header_files;psiu_currency.h;fm_pymt_pol
header_files;psiu_round.h;fm_acs_voice_rate
header_files;psiu_round.h;fm_act_pol
header_files;psiu_round.h;fm_poste_pol
header_files;psiu_round.h;fm_pymt_pol
header_files;psiu_round.h;fm_rate_pol
header_files;ratetag_info.h;fm_inv_pol
header_files;ratetag_info.h;fm_rate_pol
header_files;resource_info.h;fm_rate_pol
header_files;stop_accounting.h;fm_rate_pol
####################################################################################

####################################################################################
# opcode_files - Configure what library compile when an opcode_files is installed
# 1. opcode file name
# 2. library name
####################################################################################
opcode_files;fm_acs_sdp_rate_opcode.c;fm_acs_voice_rate
opcode_files;fm_acs_vdf_mms_rate_opcode.c;fm_acs_voice_rate
opcode_files;fm_acs_vdf_mms_rate_opcodenew.c;fm_acs_voice_rate
opcode_files;fm_acs_vdf_sms_rate_opcode.c;fm_acs_voice_rate
opcode_files;fm_acs_voice_rate_config.c;fm_acs_voice_rate
opcode_files;fm_acs_voice_rate_opcode.c;fm_acs_voice_rate
opcode_files;fm_act_pol_config.c;fm_act_pol
opcode_files;fm_act_pol_config_billing_cycle.c;fm_act_pol
opcode_files;fm_act_pol_event_limit.c;fm_act_pol
opcode_files;fm_act_pol_event_notify.c;fm_act_pol
opcode_files;fm_act_pol_post_authorize.c;fm_act_pol
opcode_files;fm_act_pol_post_reauthorize.c;fm_act_pol
opcode_files;fm_act_pol_pre_authorize.c;fm_act_pol
opcode_files;fm_act_pol_pre_reauthorize.c;fm_act_pol
opcode_files;fm_act_pol_spec_candidate_rums.c;fm_act_pol
opcode_files;fm_act_pol_spec_event_cache.c;fm_act_pol
opcode_files;fm_act_pol_spec_glid.c;fm_act_pol
opcode_files;fm_act_pol_spec_rates.c;fm_act_pol
opcode_files;fm_act_pol_spec_vrfy.c;fm_act_pol
opcode_files;fm_act_pol_validate_schedule.c;fm_act_pol
opcode_files;fm_ar_pol_config.c;fm_ar_pol
opcode_files;fm_ar_pol_reverse_writeoff.c;fm_ar_pol
opcode_files;fm_bal_pol_config.c;fm_bal_pol
opcode_files;fm_bal_pol_get_bal_grp_and_svc.c;fm_bal_pol
opcode_files;fm_bill_pol_bill_pre_commit.c;fm_bill_pol
opcode_files;fm_bill_pol_calc_pymt_due_t.c;fm_bill_pol
opcode_files;fm_bill_pol_check_suppression.c;fm_bill_pol
opcode_files;fm_bill_pol_config.c;fm_bill_pol
opcode_files;fm_bill_pol_config_billing_cycle.c;fm_bill_pol
opcode_files;fm_bill_pol_event_search.c;fm_bill_pol
opcode_files;fm_bill_pol_get_event_specific_details.c;fm_bill_pol
opcode_files;fm_bill_pol_get_pending_items.c;fm_bill_pol
opcode_files;fm_bill_pol_init.c;fm_bill_pol
opcode_files;fm_bill_pol_post_billing.c;fm_bill_pol
opcode_files;fm_bill_pol_reverse_payment.c;fm_bill_pol
opcode_files;fm_bill_pol_spec_billno.c;fm_bill_pol
opcode_files;fm_bill_pol_spec_future_cycle.c;fm_bill_pol
opcode_files;fm_bill_pol_valid_adjustment.c;fm_bill_pol
opcode_files;fm_bill_pol_valid_dispute.c;fm_bill_pol
opcode_files;fm_bill_pol_valid_settlement.c;fm_bill_pol
opcode_files;fm_bill_pol_valid_transfer.c;fm_bill_pol
opcode_files;fm_bill_pol_valid_writeoff.c;fm_bill_pol
opcode_files;fm_content_pol_accounting.c;fm_content_pol
opcode_files;fm_content_pol_authorize.c;fm_content_pol
opcode_files;fm_content_pol_config.c;fm_content_pol
opcode_files;fm_content_pol_post_accounting.c;fm_content_pol
opcode_files;fm_content_pol_post_authorize.c;fm_content_pol
opcode_files;fm_content_pol_resolve_event_extensions.c;fm_content_pol
opcode_files;fm_content_pol_resolve_user.c;fm_content_pol
opcode_files;fm_cust_pol_canonicalize.c;fm_cust_pol
opcode_files;fm_cust_pol_compare_passwd.c;fm_cust_pol
opcode_files;fm_cust_pol_config.c;fm_cust_pol
opcode_files;fm_cust_pol_decrypt_passwd.c;fm_cust_pol
opcode_files;fm_cust_pol_encrypt_passwd.c;fm_cust_pol
opcode_files;fm_cust_pol_encrypt_pwdmd5.c;fm_cust_pol
opcode_files;fm_cust_pol_expiration_passwd.c;fm_cust_pol
opcode_files;fm_cust_pol_get_config.c;fm_cust_pol
opcode_files;fm_cust_pol_get_db_list.c;fm_cust_pol
opcode_files;fm_cust_pol_get_db_no.c;fm_cust_pol
opcode_files;fm_cust_pol_get_deals.c;fm_cust_pol
opcode_files;fm_cust_pol_get_intro_msg.c;fm_cust_pol
opcode_files;fm_cust_pol_get_plans.c;fm_cust_pol
opcode_files;fm_cust_pol_get_poplist.c;fm_cust_pol
opcode_files;fm_cust_pol_get_prods.c;fm_cust_pol
opcode_files;fm_cust_pol_get_subscribed_plans.c;fm_cust_pol
opcode_files;fm_cust_pol_init.c;fm_cust_pol
opcode_files;fm_cust_pol_modify_service.c;fm_cust_pol
opcode_files;fm_cust_pol_post_commit.c;fm_cust_pol
opcode_files;fm_cust_pol_post_modify_customer.c;fm_cust_pol
opcode_files;fm_cust_pol_pre_commit.c;fm_cust_pol
opcode_files;fm_cust_pol_prep_aacinfo.c;fm_cust_pol
opcode_files;fm_cust_pol_prep_acctinfo.c;fm_cust_pol
opcode_files;fm_cust_pol_prep_billinfo.c;fm_cust_pol
opcode_files;fm_cust_pol_prep_inherited.c;fm_cust_pol
opcode_files;fm_cust_pol_prep_limit.c;fm_cust_pol
opcode_files;fm_cust_pol_prep_locale.c;fm_cust_pol
opcode_files;fm_cust_pol_prep_login.c;fm_cust_pol
opcode_files;fm_cust_pol_prep_nameinfo.c;fm_cust_pol
opcode_files;fm_cust_pol_prep_passwd.c;fm_cust_pol
opcode_files;fm_cust_pol_prep_payinfo.c;fm_cust_pol
opcode_files;fm_cust_pol_prep_profile.c;fm_cust_pol
opcode_files;fm_cust_pol_prep_status.c;fm_cust_pol
opcode_files;fm_cust_pol_prep_topup.c;fm_cust_pol
opcode_files;fm_cust_pol_read_plan.c;fm_cust_pol
opcode_files;fm_cust_pol_set_brandinfo.c;fm_cust_pol
opcode_files;fm_cust_pol_tax_calc.c;fm_cust_pol
opcode_files;fm_cust_pol_tax_init.c;fm_cust_pol
opcode_files;fm_cust_pol_transition_deals.c;fm_cust_pol
opcode_files;fm_cust_pol_transition_plans.c;fm_cust_pol
opcode_files;fm_cust_pol_util.c;fm_cust_pol
opcode_files;fm_cust_pol_valid_aacinfo.c;fm_cust_pol
opcode_files;fm_cust_pol_valid_acctinfo.c;fm_cust_pol
opcode_files;fm_cust_pol_valid_all.c;fm_cust_pol
opcode_files;fm_cust_pol_valid_billinfo.c;fm_cust_pol
opcode_files;fm_cust_pol_valid_inherited.c;fm_cust_pol
opcode_files;fm_cust_pol_valid_limit.c;fm_cust_pol
opcode_files;fm_cust_pol_valid_locale.c;fm_cust_pol
opcode_files;fm_cust_pol_valid_login.c;fm_cust_pol
opcode_files;fm_cust_pol_valid_nameinfo.c;fm_cust_pol
opcode_files;fm_cust_pol_valid_passwd.c;fm_cust_pol
opcode_files;fm_cust_pol_valid_payinfo.c;fm_cust_pol
opcode_files;fm_cust_pol_valid_profile.c;fm_cust_pol
opcode_files;fm_cust_pol_valid_status.c;fm_cust_pol
opcode_files;fm_cust_pol_valid_taxinfo.c;fm_cust_pol
opcode_files;fm_cust_pol_valid_topup.c;fm_cust_pol
opcode_files;fm_device_pol_associate.c;fm_device_pol
opcode_files;fm_device_pol_config.c;fm_device_pol
opcode_files;fm_device_pol_create.c;fm_device_pol
opcode_files;fm_device_pol_delete.c;fm_device_pol
opcode_files;fm_device_pol_replace.c;fm_device_pol
opcode_files;fm_device_pol_set_attr.c;fm_device_pol
opcode_files;fm_device_pol_set_brand.c;fm_device_pol
opcode_files;fm_device_pol_set_state.c;fm_device_pol
opcode_files;fm_gsm_aaa_pol_acc_on_off_search.c;fm_gsm_aaa_pol
opcode_files;fm_gsm_aaa_pol_authorize.c;fm_gsm_aaa_pol
opcode_files;fm_gsm_aaa_pol_config.c;fm_gsm_aaa_pol
opcode_files;fm_gsm_aaa_pol_prep_input.c;fm_gsm_aaa_pol
opcode_files;fm_gsm_aaa_pol_search_session.c;fm_gsm_aaa_pol
opcode_files;fm_ifw_sync_pol_config.c;fm_ifw_sync_pol
opcode_files;fm_ifw_sync_pol_publish_event.c;fm_ifw_sync_pol
opcode_files;fm_inv_pol_common.c;fm_inv_pol
opcode_files;fm_inv_pol_config.c;fm_inv_pol
opcode_files;fm_inv_pol_format_invoice.c;fm_inv_pol
opcode_files;fm_inv_pol_format_invoice_doc1.c;fm_inv_pol
opcode_files;fm_inv_pol_format_invoice_html.c;fm_inv_pol
opcode_files;fm_inv_pol_format_invoice_xml.c;fm_inv_pol
opcode_files;fm_inv_pol_format_invoice_xslt.c;fm_inv_pol
opcode_files;fm_inv_pol_format_view.c;fm_inv_pol
opcode_files;fm_inv_pol_init.c;fm_inv_pol
opcode_files;fm_inv_pol_post_make_invoice.c;fm_inv_pol
opcode_files;fm_inv_pol_prep_invoice.c;fm_inv_pol
opcode_files;fm_inv_pol_select.c;fm_inv_pol
opcode_files;fm_nash_pol.c;fm_nash_pol
opcode_files;fm_nash_pol_config.c;fm_nash_pol
opcode_files;fm_order_pol_associate.c;fm_order_pol
opcode_files;fm_order_pol_config.c;fm_order_pol
opcode_files;fm_order_pol_create.c;fm_order_pol
opcode_files;fm_order_pol_delete.c;fm_order_pol
opcode_files;fm_order_pol_process.c;fm_order_pol
opcode_files;fm_order_pol_set_attr.c;fm_order_pol
opcode_files;fm_order_pol_set_brand.c;fm_order_pol
opcode_files;fm_order_pol_set_state.c;fm_order_pol
opcode_files;fm_poste_authorize_opcode.c;fm_acs_voice_rate
opcode_files;fm_poste_op_cancel_authorization_config.c;fm_poste_cancel_authorization
opcode_files;fm_poste_op_cancel_authorization_opcode.c;fm_poste_cancel_authorization
opcode_files;fm_poste_pol_active_session_search.c;fm_poste_pol
opcode_files;fm_poste_pol_auth_reauth.c;fm_poste_pol
opcode_files;fm_poste_pol_bill_rcv_payment.c;fm_poste_pol
opcode_files;fm_poste_pol_config.c;fm_poste_pol
opcode_files;fm_poste_pol_config.c;fm_rate_pol
opcode_files;fm_poste_pol_find.c;fm_poste_pol
opcode_files;fm_poste_pol_find_mms_sms.c;fm_poste_pol
opcode_files;fm_poste_pol_init.c;fm_poste_pol
opcode_files;fm_poste_pol_init.c;fm_rate_pol
opcode_files;fm_poste_pol_post_process.c;fm_poste_pol
opcode_files;fm_poste_pol_post_process.c;fm_rate_pol
opcode_files;fm_poste_pol_pre_authorize.c;fm_poste_pol
opcode_files;fm_poste_pol_pre_stop_accounting.c;fm_poste_pol
opcode_files;fm_poste_pol_stop_accounting_prep_input.c;fm_poste_pol
opcode_files;fm_poste_stop_acct_opcode.c;fm_acs_voice_rate
opcode_files;fm_poste_update_and_reauthorize_opcode.c;fm_acs_voice_rate
opcode_files;fm_poste_update_and_reauthorize_opcode.c;fm_inv_pol
opcode_files;fm_price_pol_config.c;fm_price_pol
opcode_files;fm_price_pol_delete_deal.c;fm_price_pol
opcode_files;fm_price_pol_delete_dependency.c;fm_price_pol
opcode_files;fm_price_pol_delete_discount.c;fm_price_pol
opcode_files;fm_price_pol_delete_product.c;fm_price_pol
opcode_files;fm_price_pol_delete_transition.c;fm_price_pol
opcode_files;fm_price_pol_prep_deal.c;fm_price_pol
opcode_files;fm_price_pol_prep_dependency.c;fm_price_pol
opcode_files;fm_price_pol_prep_discount.c;fm_price_pol
opcode_files;fm_price_pol_prep_product.c;fm_price_pol
opcode_files;fm_price_pol_prep_transition.c;fm_price_pol
opcode_files;fm_price_pol_valid_deal.c;fm_price_pol
opcode_files;fm_price_pol_valid_dependency.c;fm_price_pol
opcode_files;fm_price_pol_valid_discount.c;fm_price_pol
opcode_files;fm_price_pol_valid_product.c;fm_price_pol
opcode_files;fm_price_pol_valid_transition.c;fm_price_pol
opcode_files;fm_prov_pol_config.c;fm_prov_pol
opcode_files;fm_prov_pol_update.c;fm_prov_pol
opcode_files;fm_pymt_pol_apply_fee.c;fm_pymt_pol
opcode_files;fm_pymt_pol_charge.c;fm_pymt_pol
opcode_files;fm_pymt_pol_collect.c;fm_pymt_pol
opcode_files;fm_pymt_pol_config.c;fm_pymt_pol
opcode_files;fm_pymt_pol_grant_incentive.c;fm_pymt_pol
opcode_files;fm_pymt_pol_over_payment.c;fm_pymt_pol
opcode_files;fm_pymt_pol_pre_collect.c;fm_pymt_pol
opcode_files;fm_pymt_pol_provision_incentive.c;fm_pymt_pol
opcode_files;fm_pymt_pol_purchase_deal.c;fm_pymt_pol
opcode_files;fm_pymt_pol_spec_collect.c;fm_pymt_pol
opcode_files;fm_pymt_pol_spec_validate.c;fm_pymt_pol
opcode_files;fm_pymt_pol_suspend_payment.c;fm_pymt_pol
opcode_files;fm_pymt_pol_under_payment.c;fm_pymt_pol
opcode_files;fm_pymt_pol_valid_voucher.c;fm_pymt_pol
opcode_files;fm_pymt_pol_validate.c;fm_pymt_pol
opcode_files;fm_pymt_pol_validate_payment.c;fm_pymt_pol
opcode_files;fm_rate_pol_config.c;fm_rate_pol
opcode_files;fm_rate_pol_event_zonemap.c;fm_rate_pol
opcode_files;fm_rate_pol_init.c;fm_rate_pol
opcode_files;fm_rate_pol_map_tax_supplier.c;fm_rate_pol
opcode_files;fm_rate_pol_post_rating.c;fm_rate_pol
opcode_files;fm_rate_pol_post_tax.c;fm_rate_pol
opcode_files;fm_rate_pol_pre_rating.c;fm_rate_pol
opcode_files;fm_rate_pol_pre_tax.c;fm_rate_pol
opcode_files;fm_rate_pol_process_eras.c;fm_rate_pol
opcode_files;fm_rate_pol_tax_code.c;fm_rate_pol
opcode_files;fm_rate_pol_tax_loc.c;fm_rate_pol
opcode_files;fm_rate_pol_tax_supplier.c;fm_rate_pol
opcode_files;fm_remit_pol_config.c;fm_remit_pol
opcode_files;fm_remit_pol_spec_qty.c;fm_remit_pol
opcode_files;fm_reserve_pol_config.c;fm_reserve_pol
opcode_files;fm_reserve_pol_post_dispute.c;fm_reserve_pol
opcode_files;fm_reserve_pol_post_settlement.c;fm_reserve_pol
opcode_files;fm_reserve_pol_pre_release.c;fm_reserve_pol
opcode_files;fm_reserve_pol_prep_create.c;fm_reserve_pol
opcode_files;fm_reserve_pol_prep_extend.c;fm_reserve_pol
opcode_files;fm_subscription_pol_config.c;fm_subscription_pol
opcode_files;fm_subscription_pol_config_eet.c;fm_subscription_pol
opcode_files;fm_subscription_pol_count_lines.c;fm_subscription_pol
opcode_files;fm_subscription_pol_generate_rerate_request.c;fm_subscription_pol
opcode_files;fm_subscription_pol_get_sponsors.c;fm_subscription_pol
opcode_files;fm_subscription_pol_notify_aggregation.c;fm_subscription_pol
opcode_files;fm_subscription_pol_pre_fold.c;fm_subscription_pol
opcode_files;fm_subscription_pol_pre_transition_deal.c;fm_subscription_pol
opcode_files;fm_subscription_pol_pre_transition_plan.c;fm_subscription_pol
opcode_files;fm_subscription_pol_prep_fold.c;fm_subscription_pol
opcode_files;fm_subscription_pol_prep_members.c;fm_subscription_pol
opcode_files;fm_subscription_pol_provisioning.c;fm_subscription_pol
opcode_files;fm_subscription_pol_provisioning_content.c;fm_subscription_pol
opcode_files;fm_subscription_pol_provisioning_ssg.c;fm_subscription_pol
opcode_files;fm_subscription_pol_spec_cancel.c;fm_subscription_pol
opcode_files;fm_subscription_pol_spec_cancel_discount.c;fm_subscription_pol
opcode_files;fm_subscription_pol_spec_cycle_fee_interval.c;fm_subscription_pol
opcode_files;fm_subscription_pol_spec_fold.c;fm_subscription_pol
opcode_files;fm_subscription_pol_spec_rerate.c;fm_subscription_pol
opcode_files;fm_subscription_pol_update_cdc.c;fm_subscription_pol
opcode_files;fm_tcf_pol_apply_parameter.c;fm_tcf_pol
opcode_files;fm_tcf_pol_config.c;fm_tcf_pol
opcode_files;fm_test_pol_config.c;fm_test_pol
opcode_files;fm_test_pol_get_name.c;fm_test_pol
opcode_files;fm_test_pol_shivangi_search.c;fm_test_pol
opcode_files;fm_trans_pol_abort.c;fm_trans_pol
opcode_files;fm_trans_pol_commit.c;fm_trans_pol
opcode_files;fm_trans_pol_config.c;fm_trans_pol
opcode_files;fm_trans_pol_open.c;fm_trans_pol
opcode_files;fm_trans_pol_prep_commit.c;fm_trans_pol
opcode_files;fm_voucher_pol_config.c;fm_voucher_pol
opcode_files;fm_voucher_pol_device_associate.c;fm_voucher_pol
opcode_files;fm_voucher_pol_device_create.c;fm_voucher_pol
opcode_files;fm_voucher_pol_device_set_attr.c;fm_voucher_pol
opcode_files;fm_voucher_pol_device_set_brand.c;fm_voucher_pol
opcode_files;fm_voucher_pol_order_associate.c;fm_voucher_pol
opcode_files;fm_voucher_pol_order_create.c;fm_voucher_pol
opcode_files;fm_voucher_pol_order_delete.c;fm_voucher_pol
opcode_files;fm_voucher_pol_order_process.c;fm_voucher_pol
opcode_files;fm_voucher_pol_order_set_attr.c;fm_voucher_pol
opcode_files;fm_voucher_pol_order_set_brand.c;fm_voucher_pol
opcode_files;fm_voucher_pol_utils.c;fm_voucher_pol
opcode_files;fm_zonemap_pol_config.c;fm_zonemap_pol
opcode_files;fm_zonemap_pol_get_lineage.c;fm_zonemap_pol
opcode_files;fm_zonemap_pol_network.c;fm_zonemap_pol
opcode_files;fm_zonemap_pol_prep_zonemap.c;fm_zonemap_pol
opcode_files;fm_zonemap_pol_serialize.c;fm_zonemap_pol
opcode_files;fm_zonemap_pol_storage.c;fm_zonemap_pol
opcode_files;fm_zonemap_pol_util.c;fm_zonemap_pol
####################################################################################