# ###############################################################################################
# 1. UNCOMPRESSED File name (IF is a tar.gz, this filed must be the file name inside the tar.gz) this MUST BE UNIQUE
# 2. Destination path, use $PIN_HOME
# 3. Destination file name
# File must have different name
# This file contains the names of the file and the destination path
################################################################################################
fm_act_pol_post_authorize.c;$PIN_HOME/source/sys/fm_act_pol;-
fm_act_pol_post_reauthorize.c;$PIN_HOME/source/sys/fm_act_pol;-
fm_act_pol_pre_authorize.c;$PIN_HOME/source/sys/fm_act_pol;-
fm_act_pol_pre_reauthorize.c;$PIN_HOME/source/sys/fm_act_pol;-
fm_act_pol_event_notify.c;$PIN_HOME/source/sys/fm_act_pol;-
fm_inv_pol_prep_invoice.c;$PIN_HOME/source/sys/fm_inv_pol;-
fm_inv_pol_select.c;$PIN_HOME/source/sys/fm_inv_pol;-
fm_rate_pol_pre_rating.c;$PIN_HOME/source/sys/fm_rate_pol;-
fm_rate_pol_post_rating.c;$PIN_HOME/source/sys/fm_rate_pol;-
fm_poste_pol_post_process.c;$PIN_HOME/source/sys/fm_rate_pol;-
fm_acs_voice_rate_opcode.c;$PIN_HOME/source/sys/fm_acs_voice_rate;-
fm_poste_update_and_reauthorize_opcode.c;$PIN_HOME/source/sys/fm_acs_voice_rate;-
fm_acs_voice_rate_config.c;$PIN_HOME/source/sys/fm_acs_voice_rate;-
fm_poste_authorize_opcode.c;$PIN_HOME/source/sys/fm_acs_voice_rate;-
fm_poste_pol_post_process.c;$PIN_HOME/source/sys/fm_poste_pol;-
fm_poste_pol_stop_accounting_prep_input.c;$PIN_HOME/source/sys/fm_poste_pol;-
fm_poste_pol_auth_reauth.c;$PIN_HOME/source/sys/fm_poste_pol;-
fm_poste_pol_pre_authorize.c;$PIN_HOME/source/sys/fm_poste_pol;-
fm_poste_pol_pre_stop_accounting.c;$PIN_HOME/source/sys/fm_poste_pol;-
fm_poste_pol_find.c;$PIN_HOME/source/sys/fm_poste_pol;-