# ###############################################################################################
# 1. UNCOMPRESSED File name (IF is a tar.gz, this filed must be the file name inside the tar.gz) this MUST BE UNIQUE
# 2. Destination path, use $PIN_HOME
# 3. Destination file name
# File must have different name
# This file contains the names of the file and the destination path
################################################################################################
AccountListGenerator.sh;$PIN_HOME/ACS_BILLING_TEAM/AccountListGenerator;AccountListGenerator.sh
adjustment_template.txt;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/M2M_Overturning/templates;adjustment_template.txt
adjustment_template_Bilanciatore.txt;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/BilanciatoreBorselliniBusiness/templates;adjustment_template.txt
Aggregato_Traffico_Giornaliero.sh;$PIN_HOME/ACS_BILLING_TEAM/AGGREGATO_TRAFFFICO_RETAIL;Aggregato_Traffico_Giornaliero.sh
BatchRdpNonGruppoPosteRecovery.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/BatchRdpNonGruppoPosteRecovery;BatchRdpNonGruppoPosteRecovery.sh
ba_balance_aligning.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/balance_aligning;balance_aligning.sh
ba_sql-utils.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/balance_aligning/scripts;sql-utils.sh
ba_utils.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/balance_aligning/scripts;utils.sh
BilanciatoreBorselliniBusiness.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/BilanciatoreBorselliniBusiness/bin;BilanciatoreBorselliniBusiness.sh
CDRFetcher_env_FULL;$PIN_HOME/apps/cdrfetcher_new;-
CDRFetcher_env;$PIN_HOME/apps/cdrfetcher_new;-
ChangeBillingFrequency.jar;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/ChangeBillingFrequency;ChangeBillingFrequency.jar
Charity_report.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/CharityReport;Charity_report.sh
cleaner.sh;$PIN_HOME/ACS_BILLING_TEAM/reservationCleaner;-
config.properties;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/BilanciatoreBorselliniBusiness/config;config.properties
ContractStampDuty.jar;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/ApplyContractStampDuty;ContractStampDuty.jar
ConverterCH0_reservationCleaner.sh;$PIN_HOME/ACS_BILLING_TEAM/ConverterCH0_reservationCleaner/bin;ConverterCH0_reservationCleaner.sh
creami_international_report.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/CreamiInternationalBundleReport/bin;creami_international_report.sh
creami_ras_notifications.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/creami_ras_notifications;-
create_partition.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/creami_ras_notifications/scripts;-
CreditMonitorReport_Business.sh;$PIN_HOME/ACS_BILLING_TEAM/CreditMonitorReport/Business/bin;CreditMonitorReport_Business.sh
CreditMonitorReport_Consumer.sh;$PIN_HOME/ACS_BILLING_TEAM/CreditMonitorReport/Consumer/bin;CreditMonitorReport_Consumer.sh
CreditMonitorReport_Dual.sh;$PIN_HOME/ACS_BILLING_TEAM/CreditMonitorReport/Dual/bin;CreditMonitorReport_Dual.sh
CustomRenewalMultithreading.jar;$PIN_HOME/ACS_BILLING_TEAM/PromotionsManagement/CustomRenewal;CustomRenewalMultithreading.jar
CutOff.jar;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/CutOffProcess;-
database_config.properties;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/CreamiInternationalBundleReport/config;database_config.properties
DataOption_Bundle_Built_WIND.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/RiconciliazioneWind/DataOptionReport/bin;DataOption_Bundle_Built_WIND.sh
DataOption_Bundle_InternalReport.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/RiconciliazioneVF/DataOptionReport/bin;DataOption_Bundle_InternalReport.sh
DataOption_Bundle_InternalReport_WIND.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/RiconciliazioneWind/DataOptionReport/bin;DataOption_Bundle_InternalReport_WIND.sh
DataOption_Bundle_loader.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/RiconciliazioneVF/DataOptionReport/bin;DataOption_Bundle_loader.sh
DataOption_Bundle_loader_WIND.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/RiconciliazioneWind/DataOptionReport/bin;DataOption_Bundle_loader_WIND.sh
DataOption_Bundle_ModelAssign_WIND.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/RiconciliazioneWind/DataOptionReport/bin;DataOption_Bundle_ModelAssign_WIND.sh
DataOption_Bundle_VF_Report.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/RiconciliazioneVF/DataOptionReport/bin;DataOption_Bundle_VF_Report.sh
DataOption_ICB_Traffic_Loader.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/RiconciliazioneWind/DataOptionTraffic/bin;DataOption_ICB_Traffic_Loader.sh
DataOption_PaidTraffic_InternalReport.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/RiconciliazioneVF/Paid_Data_Events_Report/bin;DataOption_PaidTraffic_InternalReport.sh
DataOption_PaidTraffic_VF_Report.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/RiconciliazioneVF/Paid_Data_Events_Report/bin;DataOption_PaidTraffic_VF_Report.sh
DataOption_Traffic_loader.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/RiconciliazioneVF/Paid_Data_Events_Report/bin;DataOption_Traffic_loader.sh
DataOption_Traffic_loader_WIND.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/RiconciliazioneWind/DataOptionTraffic/bin;DataOption_Traffic_loader_WIND.sh
Data_Option_CR4085_Report.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/RiconciliazioneVF/Paid_Data_Events_Report/bin;Data_Option_CR4085_Report.sh
Data_Option_PrePost_Bundle_Traffic_Report.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/RiconciliazioneVF/Paid_Data_Events_Report/bin;Data_Option_PrePost_Bundle_Traffic_Report.sh
data_template.txt;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/M2M_Overturning/templates;data_template.txt
DBManager.java;$PIN_HOME/ACS_BILLING_TEAM/ERP/source;DBManager.java
dbprops.properties;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/undercredit_services;dbprops.properties
DB_CLEAN.sql;$PIN_HOME/ACS_BILLING_TEAM/ConverterCH0_reservationCleaner/bin;DB_CLEAN.sql
db_config.properties;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/creami_ras_notifications/config;-
ERPExtractor.java;$PIN_HOME/ACS_BILLING_TEAM/ERP/source;ERPExtractor.java
ERP_Postpaid.jar;$PIN_HOME/ACS_BILLING_TEAM/ERP_POSTPAID/source;ERP_Postpaid.jar
EseguiCampione.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/ToolControlloFatturazione/script/eseguiCampione/bin;EseguiCampione.sh
estrai_bus_soholp.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/ANAGRAFICA_BUSINESS_SOHOLP/bin;-
final_load_control_template.txt;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/BilanciatoreBorselliniBusiness/templates;final_load_control_template.txt
FR_Report_Prepaid.sh;$PIN_HOME/ACS_BILLING_TEAM/ERP;-
FR_Report_Prepaid_collect_traffic_data.sh;$PIN_HOME/ACS_BILLING_TEAM/ERP/scripts;collect_traffic_data.sh
FR_Report_Prepaid_db.properties;$PIN_HOME/ACS_BILLING_TEAM/ERP/config;db.properties
FR_Report_Prepaid_extract_report.sh;$PIN_HOME/ACS_BILLING_TEAM/ERP/scripts;extract_report.sh
FR_Report_Prepaid_sql-utils.sh;$PIN_HOME/ACS_BILLING_TEAM/ERP/scripts;sql-utils.sh
FR_Report_Prepaid_utils.sh;$PIN_HOME/ACS_BILLING_TEAM/ERP/scripts;utils.sh
icb.ctl;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/RiconciliazioneWind/DataOptionTraffic/Interconnect_traffic_loader;icb.ctl
infranet_CustomRenewal.properties;$PIN_HOME/ACS_BILLING_TEAM/PromotionsManagement/CustomRenewal/config;infranet.properties
infranet_ResourceAllocation.properties;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/ResourceAllocationProcess/config;infranet.properties
inital_load_control_template.txt;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/BilanciatoreBorselliniBusiness/templates;inital_load_control_template.txt
invoiceReplaceTags.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/invoiceReplacer/bin;invoiceReplaceTags.sh
LoaderProd.sh;$PIN_HOME/apps/uel/log_nokia;LoaderProd.sh
LoaderProd_rtl.sh;$PIN_HOME/apps/uel/log_nokia;LoaderProd_rtl.sh
LoaderProd_whs.sh;$PIN_HOME/apps/uel/log_nokia;LoaderProd_whs.sh
M2M_notification_and_report_account_level_bulk.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/M2M_Notification_and_Report;M2M_notification_and_report_account_level_bulk.sh
M2M_Overturning.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/M2M_Overturning/bin;M2M_Overturning.sh
M2M_report_sim_level_bulk.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/M2M_Notification_and_Report;M2M_report_sim_level_bulk.sh
mover_sftp.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/CSV_Mover/bin;-
New_Refill_Channel_Report.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/New_Refill_Channel_Report/bin;New_Refill_Channel_Report.sh
path.cfg;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/CSV_Mover/config;-
PMGRP_adjustment_list.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/PMGRP_monitor/bin/scripts;-
PMGRP_calculate_balances.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/PMGRP_monitor/bin/scripts;-
PMGRP_create_monthly_bundles.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/PMGRP_monitor/bin/scripts;-
PMGRP_create_reports.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/PMGRP_monitor/bin/scripts;-
PMGRP_infranet.properties;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/PMGRP_monitor/config;infranet.properties
PMGRP_Manager.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/PMGRP_monitor/bin;-
PMGRP_monitor.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/PMGRP_monitor/bin;-
PMGRP_National_Volume.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/PMGRP_monitor/bin/scripts;-
PMGRP_send_adjustments.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/PMGRP_monitor/bin/scripts;-
PMGRP_send_notifications.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/PMGRP_monitor/bin/scripts;-
PMGRP_sql-utils.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/PMGRP_monitor/bin/scripts;-
PMGRP_utils.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/PMGRP_monitor/bin/scripts;-
PMGRP_volume_black_list.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/PMGRP_monitor/bin/scripts;-
PMGRP_volume_dirigenti.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/PMGRP_monitor/bin/scripts;-
PMGRP_volume_ic_list.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/PMGRP_monitor/bin/scripts;-
POPULATE_CH0_SESSIONID_TO_DELETE.sql;$PIN_HOME/ACS_BILLING_TEAM/ConverterCH0_reservationCleaner/bin;POPULATE_CH0_SESSIONID_TO_DELETE.sql
populate_events.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/creami_ras_notifications/scripts;-
PostProcessingScript.jar;$PIN_HOME/ACS_BILLING_TEAM/PostProcessingScript/jars;PostProcessingScript.jar
query.sql;$PIN_HOME/ACS_BILLING_TEAM/reservationCleaner;-
queryFile.sql;$PIN_HOME/ACS_BILLING_TEAM/ConverterCH0_reservationCleaner/bin;queryFile.sql
query_param_hour.sql;$PIN_HOME/ACS_BILLING_TEAM/reservationCleaner/query_template;-
query_param_type.sql;$PIN_HOME/ACS_BILLING_TEAM/reservationCleaner/query_template;-
query_param_type_hour.sql;$PIN_HOME/ACS_BILLING_TEAM/reservationCleaner/query_template;-
rating_adjustment_config.properties;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/M2M_Overturning/config;rating_adjustment_config.properties
report_bu_giornaliero.sh;$PIN_HOME/ACS_BILLING_TEAM/REPORT_BUSINESS_X7/REPORT_GIORNALIERO;report_bu_giornaliero.sh
report_others.sh;$PIN_HOME/ACS_BILLING_TEAM/REPORT_BUSINESS_X7/REPORT_OTHERS;report_others.sh
Report_Sottocredito-sql-utils.sh;$PIN_HOME/ACS_BILLING_TEAM/Report_Sottocredito;sql-utils.sh
Report_Sottocredito-utils.sh;$PIN_HOME/ACS_BILLING_TEAM/Report_Sottocredito;utils.sh
Report_Sottocredito.sh;$PIN_HOME/ACS_BILLING_TEAM/Report_Sottocredito;-
ResourceAllocation.jar;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/ResourceAllocationProcess;-
run_cut_off.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/CutOffProcess;run_cut_off.sh
run_resource_allocation.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/ResourceAllocationProcess;run_resource_allocation.sh
SAPRMCA_Extractor.jar;$PIN_HOME/ACS_BILLING_TEAM/SAP-RMCA/jars;SAPRMCA_Extractor.jar
send_notify.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/creami_ras_notifications/scripts;-
SMSQtyWrapperUEL.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/SMSQtyWrapperUEL;SMSQtyWrapperUEL.sh
sms_template.txt;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/M2M_Overturning/templates;sms_template.txt
spool.sh;$PIN_HOME/ACS_BILLING_TEAM/UsageInquiry;spool.sh
Spool_Aggregato_Traffico_Mensile.sh;$PIN_HOME/ACS_BILLING_TEAM/AGGREGATO_TRAFFFICO_RETAIL;Spool_Aggregato_Traffico_Mensile.sh
sql-utils.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/creami_ras_notifications/scripts;-
sub_bals_cleaning-sql-utils.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/DeleteSubBalNew;sql-utils.sh
sub_bals_cleaning-utils.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/DeleteSubBalNew;utils.sh
sub_bals_cleaning.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/DeleteSubBalNew;-
testnap_template.txt;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/undercredit_services;testnap_template.txt
tool_lancio_settimanale-sql-utils.sh;$PIN_HOME/ACS_BILLING_TEAM/REPORT_BUSINESS_X7/tool_lancio_settimanale;sql-utils.sh
tool_lancio_settimanale-utils.sh;$PIN_HOME/ACS_BILLING_TEAM/REPORT_BUSINESS_X7/tool_lancio_settimanale;utils.sh
tool_lancio_settimanale.sh;$PIN_HOME/ACS_BILLING_TEAM/REPORT_BUSINESS_X7/tool_lancio_settimanale;-
traffic_type.cfg;$PIN_HOME/ACS_BILLING_TEAM/reservationCleaner/config;-
undercredit_services.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/undercredit_services;undercredit_services.sh
UpdatePurchasedProduct.jar;$PIN_HOME/ACS_BILLING_TEAM/UpdatePurchasedProduct;UpdatePurchasedProduct.jar
update_active_promo.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/creami_ras_notifications/scripts;-
utils.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/creami_ras_notifications/scripts;-
VF_Reconciliation_report.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/RiconciliazioneVF/Reconciliation_VF_Report/bin;VF_Reconciliation_report.sh
voice_template.txt;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/M2M_Overturning/templates;voice_template.txt
WIND_Reconciliation_report.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/RiconciliazioneWind/Reconciliation_WIND_Report/bin;WIND_Reconciliation_report.sh
write_fields_template.txt;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/BilanciatoreBorselliniBusiness/templates;write_fields_template.txt
wrong_fields.ctl;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/invoiceReplacer/bin;wrong_fields.ctl
disattivazione_numero_fisso_transitorio.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/disattivazione_numero_fisso_transitorio;disattivazione_numero_fisso_transitorio.sh
SAPRMCA_extractor.sh;$PIN_HOME/ACS_BILLING_TEAM/SAP-RMCA/bin;SAPRMCA_extractor.sh
InvoiceReportPostpaid.jar;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/Invoice_Report_Postpaid/jars;InvoiceReportPostpaid.jar
invoice_report_postpaid.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/Invoice_Report_Postpaid/bin;invoice_report_postpaid.sh
create_dir;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/RiconciliazioneSinglePlay/SinglePlayBundle;log
create_dir;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/RiconciliazioneSinglePlay/SinglePlayBundle;output
create_dir;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/RiconciliazioneSinglePlay/SinglePlayChangeNumber;log
create_dir;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/RiconciliazioneSinglePlay/SinglePlayChangeNumber;output
create_dir;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/RiconciliazioneSinglePlay/SinglePlayTraffic;log
SinglePlay_Rec_Traffic_loader.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/RiconciliazioneSinglePlay/SinglePlayTraffic/bin;SinglePlay_Rec_Traffic_loader.sh
SinglePlay_Recon_BundleReport.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/RiconciliazioneSinglePlay/SinglePlayBundle/bin;SinglePlay_Recon_BundleReport.sh
create_dir;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/CharityReportFixed;log
create_dir;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/CharityReportFixed;output
Charity_Report_Fixed.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/CharityReportFixed;Charity_Report_Fixed.sh
copy_table.sh;$PIN_HOME/ACS_BILLING_TEAM/UsageInquiry;copy_table.sh
create_dir;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure;partiti_politici
create_dir;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/partiti_politici;bin
create_dir;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/partiti_politici;config
vas_report_partiti_politici.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/partiti_politici/bin;vas_report_partiti_politici.sh
partiti_politici.config;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/partiti_politici/config;partiti_politici.config
db_config.properties;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/partiti_politici/config;db_config.properties
riconciliazione_fatture_postel_DatParser.jar;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/riconciliazione_fatture_postel/scripts;DatParser.jar
riconciliazione_fatture_postel.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/riconciliazione_fatture_postel;riconciliazione_fatture_postel.sh
riconciliazione_fatture_postel_config.properties;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/riconciliazione_fatture_postel/config;config.properties
riconciliazione_fatture_postel_sql-utils.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/riconciliazione_fatture_postel/scripts;sql-utils.sh
riconciliazione_fatture_postel_utils.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/riconciliazione_fatture_postel/scripts;utils.sh
create_dir;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/riconciliazione_fatture_postel;input_FEPA
comparison_run_emm.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/comparison_run_emm;-
comparison_run_emm_sqlldr.ctl;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/comparison_run_emm/scripts;sqlldr.ctl
comparison_run_emm_sql-utils.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/comparison_run_emm/scripts;sql-utils.sh
comparison_run_emm_utils.sh;$PIN_HOME/ACS_BILLING_TEAM/CustomProcedure/comparison_run_emm/scripts;utils.sh
dom4j-1.6.1.jar;$PIN_HOME/ACS_BILLING_TEAM/jars;-
jaxen.jar;$PIN_HOME/ACS_BILLING_TEAM/jars;-
