# #########################################################################################################################
# 1. UNCOMPRESSED File name (IF is a tar.gz, this filed must be the file name inside the tar.gz) this MUST BE UNIQUE
# 2. Destination path, use $PIN_HOME
# 3. Destination file name
# File must have different name
# This file contains the names of the file and the destination path
###########################################################################################################################
install.sh;$PIN_HOME/ACS_BILLING_TEAM/installation_tool_new/install;install.sh

hosts.config;$PIN_HOME/ACS_BILLING_TEAM/installation_tool_new/install/config;hosts.config
db_pass.txt;$PIN_HOME/ACS_BILLING_TEAM/installation_tool_new/install/config;-
db_users.txt;$PIN_HOME/ACS_BILLING_TEAM/installation_tool_new/install/config;-
header_path.config;$PIN_HOME/ACS_BILLING_TEAM/installation_tool_new/install/config;-
hosts.config;$PIN_HOME/ACS_BILLING_TEAM/installation_tool_new/install/config;-
hot_deploy.config;$PIN_HOME/ACS_BILLING_TEAM/installation_tool_new/install/config;-
hot_deploy_tables_list.config;$PIN_HOME/ACS_BILLING_TEAM/installation_tool_new/install/config;-
ifw_path.config;$PIN_HOME/ACS_BILLING_TEAM/installation_tool_new/install/config;-
ifw_ssh.config;$PIN_HOME/ACS_BILLING_TEAM/installation_tool_new/install/config;-
lib_path.config;$PIN_HOME/ACS_BILLING_TEAM/installation_tool_new/install/config;-
Infranet.properties;$PIN_HOME/ACS_BILLING_TEAM/installation_tool_new/install/config;-
lib_ssh.config;$PIN_HOME/ACS_BILLING_TEAM/installation_tool_new/install/config;-
make.config;$PIN_HOME/ACS_BILLING_TEAM/installation_tool_new/install/config;-
opcode_path.config;$PIN_HOME/ACS_BILLING_TEAM/installation_tool_new/install/config;-
other_path.config;$PIN_HOME/ACS_BILLING_TEAM/installation_tool_new/install/config;-
permanence.config;$PIN_HOME/ACS_BILLING_TEAM/installation_tool_new/install/config;-
pin.conf;$PIN_HOME/ACS_BILLING_TEAM/installation_tool_new/install/config;-
price_list.xsd;$PIN_HOME/ACS_BILLING_TEAM/installation_tool_new/install/config;-
tool_path.config;$PIN_HOME/ACS_BILLING_TEAM/installation_tool_new/install/config;-

configuration_files.sh;$PIN_HOME/ACS_BILLING_TEAM/installation_tool_new/install/scripts;-
ifw_files.sh;$PIN_HOME/ACS_BILLING_TEAM/installation_tool_new/install/scripts;-
make.sh;$PIN_HOME/ACS_BILLING_TEAM/installation_tool_new/install/scripts;-
populate_installation_schema.sh;$PIN_HOME/ACS_BILLING_TEAM/installation_tool_new/install/scripts;-
populate_pin_schema.sh;$PIN_HOME/ACS_BILLING_TEAM/installation_tool_new/install/scripts;-
rate_plan_files.sh;$PIN_HOME/ACS_BILLING_TEAM/installation_tool_new/install/scripts;-
single_files.sh;$PIN_HOME/ACS_BILLING_TEAM/installation_tool_new/install/scripts;-
single_files_ssh.sh;$PIN_HOME/ACS_BILLING_TEAM/installation_tool_new/install/scripts;-
sql.sh;$PIN_HOME/ACS_BILLING_TEAM/installation_tool_new/install/scripts;-
sql-utils.sh;$PIN_HOME/ACS_BILLING_TEAM/installation_tool_new/install/scripts;-
storable_classes.sh;$PIN_HOME/ACS_BILLING_TEAM/installation_tool_new/install/scripts;-
utils.sh;$PIN_HOME/ACS_BILLING_TEAM/installation_tool_new/install/scripts;-
zone_maps.sh;$PIN_HOME/ACS_BILLING_TEAM/installation_tool_new/install/scripts;-

pricelist_manager.jar;$PIN_HOME/ACS_BILLING_TEAM/installation_tool_new/install/lib;-
sql_manager.jar;$PIN_HOME/ACS_BILLING_TEAM/installation_tool_new/install/lib;-